<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIKAP - SURAT ABSENSI SISWA</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body style="font-family: 'Plus Jakarta Sans', sans-serif; font-optical-sizing: auto; height: 100%; width: 100%;">
    <% if(tipe == 'Mengikuti Pelajaran') { %>
        <p>
            Melalui surat ini, kami menyampaikan informasi mengenai keterlambatan putra/putri bapak/ibu. Berikut adalah siswa yang terlambat mengikuti pelajaran pada hari ini:
        </p>
        <br>
        <table style="width: 100%; border-collapse: collapse; background-color: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
            <thead>
                <tr style="background-color: #b91c1c; color: #fff;">
                    <th style="padding: 10px 15px; text-align: left;">NAMA SISWA</th>
                    <th style="padding: 10px 15px; text-align: left;">NIS</th>
                    <th style="padding: 10px 15px; text-align: left;">KELAS</th>
                    <th style="padding: 10px 15px; text-align: left;">JUMLAH KETERLAMBATAN</th>
                    <th style="padding: 10px 15px; text-align: left;">DETAIL SISWA</th>
                </tr>
            </thead>
            <tbody>
                <% siswaArr.forEach(function(siswa) {%>
                    <tr style="border-bottom: 1px solid #ddd;">
                        <td style="padding: 10px 15px;">
                            <%= siswa.nama_siswa %>
                        </td>
                        <td style="padding: 10px 15px;">
                            <%= siswa.nis %>
                        </td>
                        <td style="padding: 10px 15px;">
                            <%= siswa.kelas %> <%= siswa.jurusan %> <%= siswa.rombel %>
                        </td>
                        <td style="padding: 10px 15px;">
                            <%= siswa.jumlah_absen %> Hari
                        </td>
                        <td style="padding: 10px 15px;">
                            <a href="https://sikap.smkpunegerijabar.sch.id/ceksiswa?nis=<%= siswa.nis %>" target="_blank" style="color: #b91c1c; text-decoration: none;">
                                Cek detail
                            </a>
                        </td>
                    </tr>
                <% });%>
            </tbody>
        </table>
        <br>
        <p>
            Mohon bantuan bapak/ibu untuk mengingatkan siswa ybs agar tidak terlambat mengikuti pelajaran. Atas perhatiannya kami ucapkan terimakasih.
        </p>
        <br>
        <p>
            Sistem Informasi Kehadiran dan Absensi Piket <br>
            SMK Pekerjaan Umum Negeri Bandung
        </p>
        <br>
        <ul>
            <p style="color: red;">
                Note:
            </p>
            <li>
                Jumlah keterlambatan di atas dihitung berdasarkan data keterlambatan siswa pada bulan ini
            </li>
            <li>
                Data diatas diolah oleh sistem, yang dimana tidak ada campur tangan pihak lain secara langsung. Jika anda mendapatkan kendala (Data yang tidak relevan) terhadap data diatas, mohon untuk menghubungi Administrator segera!
            </li>
        </ul>
    <% } %>

    <% if(tipe == 'Meninggalkan Pelajaran') { %>
        <p>
            Melalui surat ini, kami menyampaikan informasi mengenai putra/putri bapak/ibu yang telah meninggalkan pelajaran. Berikut adalah siswa yang meninggalkan pelajaran pada hari ini:
        </p>
        <br>
        <table style="width: 100%; border-collapse: collapse; background-color: #fff; border-radius: 10px; box-shadow: 0 4px 8px rgba(0,0,0,0.1);">
            <thead>
                <tr style="background-color: #2563eb; color: #fff;">
                    <th style="padding: 10px 15px; text-align: left;">NAMA SISWA</th>
                    <th style="padding: 10px 15px; text-align: left;">NIS</th>
                    <th style="padding: 10px 15px; text-align: left;">KELAS</th>
                    <th style="padding: 10px 15px; text-align: left;">KETERANGAN</th>
                    <th style="padding: 10px 15px; text-align: left;">DETAIL SISWA</th>
                </tr>
            </thead>
            <tbody>
                <% siswaArr.forEach(function(siswa) {%>
                    <tr style="border-bottom: 1px solid #ddd;">
                        <td style="padding: 10px 15px;">
                            <%= siswa.nama_siswa %>
                        </td>
                        <td style="padding: 10px 15px;">
                            <%= siswa.nis %>
                        </td>
                        <td style="padding: 10px 15px;">
                            <%= siswa.kelas %> <%= siswa.jurusan %> <%= siswa.rombel %>
                        </td>
                        <td style="padding: 10px 15px;">
                            <%= siswa.keterangan %>
                        </td>
                        <td style="padding: 10px 15px;">
                            <a href="https://sikap.smkpunegerijabar.sch.id/ceksiswa?nis=<%= siswa.nis %>" target="_blank" style="color: #2563eb; text-decoration: none;">
                                Cek detail
                            </a>
                        </td>
                    </tr>
                <% });%>
            </tbody>
        </table>
        <br>
        <p>
            Sistem Informasi Kehadiran dan Absensi Piket <br>
            SMK Pekerjaan Umum Negeri Bandung
        </p>
        <br>
        <ul>
            <p style="color: red;">
                Note:
            </p>
            <li>
                Data diatas diolah oleh sistem, yang dimana tidak ada campur tangan pihak lain secara langsung. Jika anda mendapatkan kendala (Data yang tidak relevan) terhadap data diatas, mohon untuk menghubungi Administrator segera!
            </li>
        </ul>
    <% } %>
    
    
</body>
</html>